@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{scroll-behavior: smooth;}
::selection{
    background-color: rgb(54, 54, 54);
}
@keyframes bottomtotop{
    from {
        transform: translateY(25%);
        opacity: 0;
    }

    to{
        top:0%;
        opacity: 1;
    }
}
section{
    animation: bottomtotop 1s;
}
::-webkit-scrollbar{
    background-color: rgb(32, 32, 32);
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(54, 54, 54);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(169, 30, 233);
}
body{
    background-color: rgb(0, 0, 0);
    font-family: 'lato',sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    
}
.nav {
    border-bottom: 2px dashed white;
    padding: 0 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.nav ul {
    margin-left: auto;
    list-style-type: none;
}

.nav ul li {
   
    margin: 5px;
    font-weight: 400;
    font-size: 17px;
    display: inline;
}
.nav ul li a{
    text-decoration: none;
     color: white;
    transition: color 1s;

}
.nav ul li a:hover{
    transition: color 1s;
    color: rgb(169, 30, 233);
}
.resume{

        background-color: rgb(169, 30, 233);
        text-decoration: none;
        padding:5px 20px ;
    
        color: #000!important;
        border: 2px solid rgb(169, 30, 233);
    
        box-sizing: border-box;
        transition:  background-color 1s,border 1s,color 1s !important;
    }
.resume:hover{
    background-color: transparent;
    color:rgb(255, 255, 255)!important;
    border: 2px solid rgb(255, 255, 255)!important;
    transition: background-color 1s, color 1s,border 1s!important;
    
}


.intro{
    display: flex;

    padding: 100px 30px;
    gap: 50px;
    justify-content: center;

}
.intro-p{
    width: 500px;
}
.intro img{
    height: 400px;

}

.intro div{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-right: 100px;
    
}
.projects{
    position: relative;
    display: flex;
    padding: 200px 0;
    flex-direction: column;
    background-color: rgb(169, 30, 233);
}

.projects img{
    height: 400px;
}
.projects h1{
    font-size: 40px;
    color: white;
    text-align: center;
}

.pr-1-p{
    color: white;
    font-size: 20px;
    position: relative;
    right: -600px;
    width: 500px;
    top: -350px;
}


.pr-1 img{
    position: relative;
    left: -400px;
}
.pr-bt{
    position: relative;
    top: 10px;
}
.pr-bt-1{
    border: 2px solid white;
    padding:5px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(32, 32, 32);
    box-sizing: border-box;
    transition: background-color 1s, color 1s,border 1s;
}
.pr-bt-2{
    background-color: transparent;
    text-decoration: none;
    padding:5px 10px ;
    color: white;
    border: 2px solid white;
    font-weight: 400;
    box-sizing: border-box;
    transition:  background-color 1s,border 1s,color 1s;
}
.pr-bt-1:hover{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    transition: background-color 1s, color 1s,border 1s;
}
.pr-bt-2:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(15, 15, 15);
    border: 2px solid rgb(255, 255, 255);
    transition: background-color 1s, color 1s,border 1s;

}
.intro-bt {
    margin: 30px 0;
    display: flex;

    gap: 20px;
}

.intro-bt-1 {
    border: 2px solid rgb(255, 255, 255);
    padding:5px 10px ;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    transition: background-color 1s, color 1s,border 1s;

}

.intro-bt-2 {
    background-color: rgb(169, 30, 233);
    text-decoration: none;
    padding:5px 10px ;

    color: #000;
    border: 2px solid rgb(169, 30, 233);

    box-sizing: border-box;
    transition:  background-color 1s,border 1s,color 1s;
}
.intro-bt-2:hover{
    background-color: transparent;
    color:rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    transition: background-color 1s, color 1s,border 1s;

}
.intro-bt-1:hover{
    background-color: rgb(169, 30, 233);
    border:2px solid rgb(169, 30, 233);
    color: #000;
    transition: background-color 1s, color 1s,border 1s;
}
.webform{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    color:rgb(238, 238, 238);
    margin-top: 100px;
    
}


.webform {
    animation: bottomtotop 1.9s ;
    animation-fill-mode: both;
}
.webform-title{
    display: flex;
}

.webform-title span{
    font-size: 30px;
}

.webform form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(15, 15, 15);
    padding: 20px;
    border-radius: 3px;
}

.webform form h3{
    text-align: center;
}

.webform input{
    background-color: black;
    border: none;
    padding: 15px 5px;
    min-width: 300px;
    color: rgba(194, 194, 194, 0.448);
font-family: 'Lato', sans-serif;}

.webform input::placeholder{
    color: rgba(194, 194, 194, 0.28);
font-family: 'Lato', sans-serif;}

.webform textarea{
    background-color: black;
    padding: 15px 5px;
    border: none;
    resize:none;
    color: rgba(194, 194, 194, 0.448);
    min-height: 200px;
font-family: 'Lato', sans-serif;}

.webform form label{
    margin: 0px 0;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.submit-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit{
    background-color: transparent;
    border: 2px solid rgb(169, 30, 233);
    color: rgb(0, 0, 0);
    width: fit-content;
    margin: 20px 0;

    font-family: 'Lato', sans-serif;    padding: 10px 20px ;
    background-color: rgb(169, 30, 233);
    transition: border 1s,color 1s,background-color 1s;
}

.submit:hover{
transition: border 1s,color 1s, background-color 1s;
color: white;
background-color: transparent;
box-sizing: border-box;
border: 2px solid rgb(255, 255, 255);
}

.socials ul{
    list-style-type: none;
}

.socials ul li{
    padding: 10px;
    display: inline;
}


.socials a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 1s;
}

.socials a:hover{
    transition: color 1s;
    color: rgb(169, 30, 233);
}
.footer{
    justify-content: center;
    padding: 20px 0 0 0;
}

.footer-text{
    color:rgba(194, 194, 194, 0.448);
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text div{
    margin: 5px;
    font-size: 14px;
    color:#5c4a7f;
}

.footer-text a{
    text-decoration: none;
    color: #7761a4;
}

.custom-shape-divider-top-1706089650 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1706089650 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1706089650 .shape-fill {
    fill: #000000;
}

.custom-shape-divider-bottom-1706089724 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706089724 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
}

.custom-shape-divider-bottom-1706089724 .shape-fill {
    fill: #000000;
}